<div class="ui segment">
    <h4 class="ui dividing header">{{ 'odiseo_sylius_rbac_plugin.ui.administration_roles'|trans }}</h4>
    {{ form_row(form.administrationRoles, {'attr': {'class': 'ui fluid multiple selection dropdown'}}) }}
</div>
